<h1>Second Meeting</h1>
<p>Second Meeting this month.  And hopefully for months to come if people find it useful and informative.</p>

<h3>Where?</h3>
<p>104 S Freya Street, White Building - Suite 319, Spokane, WA</p>
<p>Where is that?  North side of the Freeway on the Freya exit.  Tucked into the Tapio center (Wolf Lodge Inn Restaurant).  Look for the White Flag Building (all the buildings are the same color, but this one has a white flag and awning over the main door.)  This building also says Beneficial Financial Planning on the outside.</p>

<h3>When?</h3>
<p>3rd Wednesday of the month, 6:00 PM...  August 18, 2010 for this one.</p>

<h3>What?</h3>
<p>This will be a Ruby coding session/workshop.  If you haver been stuck on something and you want some people around you to help you get over a coding wall with you, you want to help others, or you just want to learn from other people activities, it is a good place to learn.</p>

<h3>Other Information</h3>
<p>If the door downstairs is locked (the office complex often locks the doors around 8:00, give me a call at 509-720-7829 and I will run down and open the doors for you.)</p>

<h3>Planned activities</h3>
<p>Installing Rails 3</p>
<p>Adding AuthLogic into a Rails 3 application</p>
<p>Anything else you are having trouble with, or want to talk about/test out</p>
