<h1>Second Meeting</h1>
<p>Second Meeting this month.  And hopefully for months to come if people find it useful and informative.</p>

<h3>Where?</h3>
<p>104 S Freya Street, White Building - Suite 319, Spokane, WA</p>
<p>Where is that?  North side of the Freeway on the Freya exit.  Tucked into the Tapio center (Wolf Lodge Inn Restaurant).  Look for the White Flag Building (all the buildings are the same color, but this one has a white flag and awning over the main door.)  This building also says Priority Financial Group on the outside.  The building overlooks I-90.</p>

<h3>When?</h3>
<p>3rd Thursday of the month, 6:00 PM...  January 20, 2010 for this one.</p>
<p>Upon discovery of the Spokane Linux Users Group meets on the third Wednesday, we migrated to Thursday for this meeting.</p>

<h3>What?</h3>
<p>This will be a Ruby coding session/workshop.  If you have been stuck on something and you want some people around you to help you get over a coding wall with you, you want to help others, or you just want to learn from other people activities, it is a good place to learn.</p>

<h3>Other Information</h3>
<p>If the door downstairs is locked (the office complex often locks the doors around 6:00, give me a call at 509-720-7829 and I will run down and open the doors for you.)</p>
<p>This is an office building, so if you need anything to eat or drink you can bring it with you.  Fred Meyer is just across the bridge, a gas station with snacks is down the street.  I will try to bring some kind of snack.</p>

<h3>Planned activities</h3>
<p>We will probably be playing with <a href="http://www.facebook.com/careers/puzzles.php">facebook puzzles</a> or related problems.</p>
<p>Anything else you are having trouble with, or want to talk about/test out</p>
