<h3>Pickle Jar</h3>
<p>
    Pickle jar is a planned project to convert a command line random name chooser to a web app, for any drawings we might do.
</p>
<p>I released the command line version of <a href="http://github.com/cowboyonrails/PickleJar">PickleJar</a> on github.com if you want to play with it.</p>